
// =========================== ОБЩИЕ

.title {
 font-weight: 700;
 font-size: 24px;  
 color: #482712;
 margin-bottom: 20px;
}

p{
   font-size: 16px;
   line-height: 23px;
   letter-spacing: 0.02em;
}

button{
   width: 200px;
   height: 50px;

   background: #482712;
   border-radius: 35px;

   font-weight: 500;
   font-size: 16px;
   line-height: 23px;

   color: #FFFFFF;
}

// задавать данный класс каждому блоку, помимо его прямого названия
.section{
   margin-top: 40px;
}


.main__container {
   width: 340px;
   margin: 0px auto;
}
@media screen and (min-width: 768px) {

   .main__container{
      width: 728px;
   }
}



// =========================================== about

.about {
   .content{
      display: flex;
      justify-content: space-between;
   }
   .right{
      display: none;
   }
}



@media screen and (min-width: 768px) {

   .about{

      .left{
         width: 440px;
      }
      .right{
         display: block;
         width: 440px;
         text-align: center;
      }
   }
}

.details {
   display: block;
   margin: 0 auto;
   margin-top: 20px;
}

// =========================================== donate


.contant {
   display: flex;
   flex-wrap: wrap;
}

.donate{
   .left {
   order: 2;
   text-align: center;
   margin: 0 auto;
   margin-top: 20px;
   }
   .right {
      order: 1;
      margin: 0 auto ;
   }
}

@media screen and (min-width: 768px) {
   .donate{
      .left{
         order: 1;
         margin: auto;
         }

      .right{
         order: 2;
         }
   }
   
}


.text {
   text-align: center;
   width: 260px;
}

.donate button{
   margin-top: 20px;
}



// =========================================== CONTACTS
.contacts{
   .title{
      text-align: center;
   }
   button{
      margin: 0 auto;
   }
}

.form{
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   gap: 20px;
   max-width: 300px;
}

.input {
   border-bottom: 1px solid #482712;
}

.label {   
   display: flex;
   justify-content: space-between;
}

.checkbox {
   display: none;
}

.fake {
   display: block;
   width: 20px;
   height: 20px;
   border: 2px solid #482712;
   border-radius: 5px;
   position: relative;

}

.fake::before{
   content: "";
   position: absolute;
   left: 3px;
   top: 3px;
   display: block;
   width: 10px;
   height: 10px;
   background: url(/GoodBoys/img/Main/checked.svg);
   opacity: 0;
   transition: .2s;
   
}

.checkbox:checked + .fake::before {
   opacity: 1;
}



.agreement {
   display: block;
   font-size: 12px;
   line-height: 16px;
   width: 200px;
   margin-right: 70px;
}