// =========================== ОБЩИЕ

.title {
   font-weight: 700;
   font-size: 24px;  
   color: #482712;
   margin-bottom: 20px;
  }
  
  p{
     font-size: 16px;
     line-height: 23px;
     letter-spacing: 0.02em;
  }
  
  button{
     width: 200px;
     height: 50px;
  
     background: #482712;
     border-radius: 35px;
  
     font-weight: 500;
     font-size: 16px;
     line-height: 23px;
  
     color: #FFFFFF;
  }
  
  // задавать данный класс каждому блоку, помимо его прямого названия
  .section{
     margin-top: 40px;
  }

.main__container {
   width: 340px;
   margin: 0px auto;
}
@media screen and (min-width: 768px) {

   .main__container{
      width: 728px;
   }
}

.main-title{
   font-weight: 700;
   font-size: 34px;  
   color: #482712;
   margin-bottom: 20px;
}

// ========================================== текст
.program{
   margin-bottom: 40px;
   
   button {
      display: block;
      margin: 0 auto;
      margin-top: 20px;
   }
}

#more{
   display: none;
}