body{
   font-family: 'Jost';
}

@font-face {
   font-family: 'Jost';
   src: url(/GoodBoys/fonts/Jost-Regular.ttf);
}

.wrapper{
      min-height: 100%;
      overflow: hidden;
   display: flex;
   flex-direction: column;
}


._container{
   max-width: 375px;
   margin: 0px auto;
}
@media screen and (min-width: 376px){
   ._container{
      max-width: 768px;
      margin: 0px auto;
   }

   .navbar .nav-menu {
      max-width: 300px;
      margin: 0 10px 0 0;
      .nav-link{
         font-size: 12px;
      }
   }
}





.footer {
   background: url(/GoodBoys/img/Footer/mobile/BG.svg) 0 0/ cover no-repeat;
   padding-top: 100px;
   height: 450px;
   margin-top: 56px;
}
@media screen and (min-width: 376px){
   .footer{
      background: url(/GoodBoys/img/Footer/mobile/BG.svg) 0 0/ cover no-repeat;
      height: 600px;
      padding-top: 140px;
   }
}

@media screen and (min-width: 500px){
   .footer{
      background: url(/GoodBoys/img/Footer/desktop/BG.jpg) 0 0/ cover no-repeat;
      height: 670px;
      padding-top: 170px;
   }
}





.main-block {
   #foot-dogs{
      display: none;
   }
   display: flex;
   width: 300px;
   margin: 0 auto;
   margin-bottom: 45px;
}

@media screen and (min-width: 376px){
   .main-block{

      #foot-dogs{
         display: block;
      }
      margin-top: 170px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 245px;
      width: 300px;
      margin: 0 auto;
      margin-bottom: 7px;
   }
}








.footer-menu {
   width: 90px;
   margin: 0 auto;
   height: 130px;
   display: flex;
   flex-direction: column;
   row-gap: 20px;
   align-items: center;

   .footer-item a{
      color: #482712;
      font-size: 14px;
   }
   margin-bottom: 70px;
}

@media screen and (min-width: 376px){
   .footer-menu{
      display: flex;
      flex-direction: row;
      // justify-content: none;
      width: 300px;
      height: 20px;
      margin: 0 auto;
      #item1{margin-right: 28px;}
      #item2{margin-right: 34px;}
      #item3{margin-right: 36px;}
      #item4{margin-right: 0px;}

      .footer-item a{
         font-size: 12px;
      }
      margin-bottom: 90px;
   }
}




.foot-icons {
   margin: 0 auto;
   width: 155px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 50px;
}